In [18]:
import pandas as pd

use_cols = ['id', 'purpose', 'loan_status', 'home_ownership']

data = pd.read_csv(
    r'C:\Users\v-narku\Desktop\pythonPractices\loan.csv', usecols=use_cols).sample(
        10000, random_state=44)  # set a seed for reproducibility

data.head(5)

         id home_ownership  loan_status             purpose
70642   NaN       MORTGAGE      Current               other
490788  NaN       MORTGAGE      Current  debt_consolidation
2081591 NaN       MORTGAGE  Charged Off  debt_consolidation
900431  NaN       MORTGAGE   Fully Paid    home_improvement
781582  NaN       MORTGAGE   Fully Paid  debt_consolidation

In [44]:
import numpy as np
# data['home_ownership'].unique()

data['home_ownership']=np.where(data['home_ownership']=='OWN','Self Property',np.where(data['home_ownership']=='RENT','Rented',data['home_ownership']))
data['home_ownership'].value_counts()

MORTGAGE         4937
Rented           3980
Self Property    1075
ANY                 6
OTHER               2
Name: home_ownership, dtype: int64

In [7]:

from functools import reduce
lis = [ 1, 3, 4, 10, 4 ] 

print(reduce(lambda a,b : a+b,lis)) 
a=(reduce(lambda x,y : x+y,lis))
print(type(a))
print(a)

22
<class 'int'>
22

In [5]:
import pandas as pd
import datetime 
import numpy as np

def calculte_age(DOB):
    DOB=pd.to_datetime(DOB)
    Currentdate=datetime.datetime.now()
    years=(Currentdate.year-DOB.year)-np.where(((Currentdate.month,Currentdate.day)<(DOB.month,DOB.day)),1,0)
    tempdate=DOB+pd.DateOffset(years=years)
    months=(Currentdate.month-tempdate.month)-np.where(((Currentdate.day)<(tempdate.day)),1,0)
    tempsdate=tempdate+pd.DateOffset(months=months)
    day=str((Currentdate-tempsdate))[:2]
    return str(years)+' year , '+str(months)+' Month and '+str(day)+' Days Old.'

age=calculte_age('1988-11-01')
print(age)

31 year , 1 Month and 10 Days Old.

In [ ]:
Name=str(input('Please Enter your Good Name '))
DateofBirth=str(input('Please Enter your Date Of Birth '))
age=calculte_age(DateofBirth)

print('Hello {}.You are {}'.format(Name,age))